* {
    margin: 0px;
}

h1, h2, h3 {
    text-transform: uppercase;
}

#header {
    background-color: rgb(156, 86, 222);
    margin: 50px 0px 50px 0px;
    font-family: "Hubballi", sans-serif;
}

#nameAndTitle {
    background-color: white;
    width: 400px;
    margin: 0px auto;
    text-align: center;
}

#contact {
    list-style-type: none;
    padding-left: 0px;
}

#icones {
    width: 30px;
    color: rgb(156, 86, 222);
}

#container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 20px;
}

#sidebar, #content {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

#sidebar{
    margin-left: 20px;
}

#content {
    margin-right: 20px;
}

.cards h3 {
    font-family: "Hubballi", sans-serif;
}

.cards {
    font-family: 'Montserrat';
    border: 1px solid gray;
    border-radius: 15px;
    padding: 20px;
}

#contate-me {
    padding: 0px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    border-radius: 15px;
    height: 50px;
    background-color: rgb(156, 86, 222);
    cursor: pointer;
}